body
{
    background-color:#d0e4fe;
}
h1
{
    color:orange;
    text-align:left;
}
#p2{
    color:orangered;
    font-family:"Times New Roman";
    font-size:20px;
}

p {
    color: aqua;
    font-family: Helvetica;
    font-size: 30px;
}